

@model VirtusaProject_HandmadeproductSelling.Models.Product


@{



}

<head>
    <style>
        .center{
            display:flex;
            justify-content:center;
            padding-top:10px;
            padding-bottom:20px;
        }
        body {
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        }
    </style>
</head>



<body>



    <div id="main-div" class="center">
        <div id="box" class="img-responsive">
            @using (Html.BeginForm("AddProduct",
                                "User",
                                FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
            {
                <div style="background-color: #A9C9FF; background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);place-content:center ">
                    <div> <h1 style="text-align:center">Add Product</h1></div>




                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-paperclip"></span></div>
                            @Html.DropDownListFor(m => m.adduser_pid, ViewBag.categorylist as SelectList, "--select--", new { @class = "form-control" })
                        </div>
                        <span style="color:red">   @Html.ValidationMessageFor(m => m.adduser_pid) </span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-paste"></span></div>
                            @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                            @Html.TextBoxFor(m => m.P_name, new { @class = "form-control", @placeholder = "Product Name" })

                        </div>
                        <span style="color:red">   @Html.ValidationMessageFor(m => m.P_name) </span>

                    </div>








                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></div>
                            @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                            @Html.TextBoxFor(m => m.P_price, new { @class = "form-control", @placeholder = "Price" })

                        </div>
                        <span style="color:red">   @Html.ValidationMessageFor(m => m.P_price) </span>

                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-check"></span></div>
                            @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                            @Html.TextBoxFor(m => m.P_desc, new { @class = "form-control", @placeholder = "Description" })

                        </div>
                        <span style="color:red">   @Html.ValidationMessageFor(m => m.P_desc) </span>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
                            @*<asp:TextBox ID="TextBox1" runat="server" class="form-control" placeholder="Username" required="required"></asp:TextBox>*@
                            @Html.TextBoxFor(m => m.P_quantity, new { @class = "form-control", @placeholder = "Stock" })

                        </div>
                        <span style="color:red">   @Html.ValidationMessageFor(m => m.P_quantity) </span>

                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-file"></span></div>

                            <input type="file" name="P_image" id="P_image" class="form-control" required="required" />



                        </div>


                    </div>



                    <div class="form-group" style="padding-left:10px">

                        <input type="submit" value="Add" class="btn btn-success btn-block" />

                    </div>

                    <div class="form-group">
                        <p style="color:red">@ViewBag.error</p>
                    </div>
                    <div style="align-content:center">
                        @Html.ActionLink("<<Back", "Index")
                    </div>


                </div>

            }
        </div>

    </div>


    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>