@using PagedList.Mvc
@model  PagedList.IPagedList<VirtusaProject_HandmadeproductSelling.Models.Category>
@{
    Layout = null;
    Layout = "~/Views/Shared/Layout1.cshtml";


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCategory</title>
</head>
<body>
    <h1 style="text-align-last:center">CATEGORY</h1>
    <h3 style="text-align:center">
        @Html.ActionLink("Add Category","Category")
    </h3>
    <h3 style="text-align:center">
        @Html.ActionLink("Sign Out", "ALogin")
    </h3>
    <div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div style="height: 220px; margin-top: 160px">
                    <img src="@Url.Content(item.Cat_img)" style="height:100%;width:70%;padding-left:25%" />
                    <br />
                    <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center;margin-top:20px">@item.Cat_name</h4>
                    <br />
                    @*<div style="margin-left:25%">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Cat_ID }, new { @class = "btn btn-danger btn-sm" })

                    </div>*@

                </div>
            }
        }
        <div style="margin-top:370px">
            <div id="container" style="margin-left: 100px">
                <p></p>
                <p></p>
                <div style="margin-left: 400px">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewCategory", new { page }))
                </div>
            </div>
        </div>

    </div>






</body>
</html>
